body {
    background-color: #518CCA;
}

.main-body-left {
    position: relative;
    align-content: last baseline;
    margin-right: 140px;/* Same width as the sidebar + left position in px */
    font-size: 28px;/* Increased text to enable scrolling */
    padding: 0px 10px;
}

.main-body-right {
    position: relative;
    align-content: last baseline;
    margin-left: 140px;/* Same width as the sidebar + left position in px */
    font-size: 28px;/* Increased text to enable scrolling */
    padding: 0px 10px;
}

.sidebar-right {
    width: 130px;
        position: fixed;
        z-index: 1;
        top: 100px;
        right: 10px;
        background: #e23636;
        overflow-x: hidden;
        padding: 8px 0;
}

.sidebar-left {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 10px;
    background: #e23636;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidebar-img {
    padding: 6px 8px 6px 16px
}

.button {
    aspect-ratio: auto;
    background-color: #504a4a;
    flex: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    position: relative;
}

.w-button {
    padding-top: 9px;
    padding-left: 15px;
    padding-bottom: 9px;
    padding-right: 15px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.navBar {
    background-color: #e23636;
    border-radius: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
}

.button-2{
    background-color: #504a4a;
    margin-top: 0;
    margin-left: 33px;
    margin-right: 33px;
    padding-left: 15px;
}

.button-3 {
    background-color: #504a4a;
    margin-left: 33px;
    margin-right: 33px;
}

.button-4 {
    background-color: #504a4a;
    margin-right: 33px;
}

.button-5 {
    background-color: #504a4a;
}

.image {
    display: inline;
}

.gif {
    position: relative;
    max-width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    clip-path: inset(65px 0px 65px 0px);
}
