.body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    aspect-ratio: auto;
    background-color: #504a4a;
    flex: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    position: relative;
}

.navBar {
    background-color: #e23636;
    border-radius: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}