

.button {
    aspect-ratio: auto;
    background-color: #504a4a;
    flex: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    position: relative;
}

.navBar {
    background-color: #e23636;
    border-radius: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.button-2{
    background-color: #504a4a;
    margin-top: 0;
    margin-left: 33px;
    margin-right: 33px;
    padding-left: 15px;
}

.button-3 {
    background-color: #504a4a;
    margin-left: 33px;
    margin-right: 33px;
}

.button-4 {
    background-color: #504a4a;
    margin-right: 33px;
}

.button-5 {
    background-color: #504a4a;
}

.image {
    display: inline;
}

